/*VARIABLES*/

:root {
    --color_texto-primario: #4788C7;
    --color_text-secundario:rgb(6, 27, 41);
    --color_texto-terciario:rgb(193, 212, 224);
    --background-primario: #b6dcfe;
    --background-secundario : #4788C7;
    --box__shadow-primario: 0px 6px 50px -20px rgba(0, 0, 0, 0.2)
}



/* -------------------------------------------- FORMULARIO ------------------------------------------*/

#contacto{
    padding-top: 40px;
}


.formulario__seccion{
    display: flex;
    
    background-color: var(--background-primario);
    padding: 20px 0;
}

.formulario__texto {
    background-color: var(--background-primario);
    text-align: center;
    padding: 40px 0px;
    margin-top: 50px;

}

.formulario__texto h2 {
    font-size: 2rem;
    margin-top: 50px;
  
}

.formulario__texto p {
     
    margin-top: 10px;
    font-size: 1.2rem;
  
}


.formulario__conteiner {
   
    width: 53%;
    margin-bottom: 30px;
    margin-left: 3.3%;
    background-color: rgba(0, 0,0, 0.95);
    border-radius: 10px;
}

.formulario{
    width: 100%;
    padding: 35px;
    color: #fff;
    
  
}

.formulario__label {
    display: block;
    padding: 10px 0;
}

.formulario__grupo-input {
    position: relative;
}

.formulario__input {
    width: 90%;
    background: transparent;
    border-bottom: 2px solid var(--background-secundario);
    border-right: none;
    color: #fff;
    font-size: 17px;
    outline: none;
    line-height: 45px;
    padding: 0 10px;
    transition: all 1s;
}

.formulario__validacion-estado {
    position: absolute;
    right: 75px;
    bottom: 15px;
    z-index: 1000;
    font-size: 16px;
    opacity: 0;
}

.formulario__input:focus {
    box-shadow: 0 0 10px var(--background-secundario);
}

.formulario__input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.formulario__input-error-activo {
    display: block;
}

.formulario__span {
    font-size: 1.1em;
    font-weight: 100;
}

.formulario__checkbox{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 10px;
}

.formulario__grupo-terminos {
    text-align: center;
}

.formulario__grupo-terminos, .formulario__mensaje, .formulario__grupo-btn-enviar {
    grid-column: span 2;
}

.formulario__mensaje {
    display: none;
    /* height: 45px; */
    /* line-height: 45px; */
    padding: 15px;
    border-radius: 5px;
    background: #f00;
    text-align: center;
}

.formulario__mensaje-activo {
    display: block;
}

.formulario__grupo-btn-enviar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario__btn {
    margin-top: 40px;
    padding: 15px 35px;
    background: var(--background-secundario);
    font-size: 2rem;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.formulario__btn:hover {
    background: transparent;
    color: var(--background-primario);
    border: 1px solid var(--background-secundario);
    transition: 300ms;
}

.formulario__mensaje-exito {
    font-size: 2em;
    color: #20b80c;
    padding: 10px;
    text-align: center;
    display: none;
}

.formulario__mensaje-exito-activo { 
    display: block;
}


/* --------------------------------------------- VALIDACIÓN ----------------------------------------- */
.formulario__grupo-correcto .formulario__validacion-estado{
    color: #29ee0f;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label{
    color: #ee0f0f;
}


.formulario__grupo-incorrecto .formulario__validacion-estado{
    color: #ee0f0f;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input{
    border: 1px solid #ee0f0f;
    
}

.formulario__texto-contacto {
    width: 40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.formulario__texto-contacto p {
    font-size: 1.5rem;
}


/* -------------------------------------------- RESPONSIVE  --------------------------------------*/

@media screen and (max-width:720px) {

    .formulario__seccion {
        flex-direction: column-reverse;
    }

    .formulario__texto {
        display: flex;
    }

    .formulario__texto-contacto{
        display: flex;
        width: 80%;       

    }
    .formulario__texto-contacto p {
        padding: 10px;
        font-size: 1.3rem;
    }


    .formulario {
        grid-template-columns: 1fr;
    }

    .formulario__conteiner {
        width: 90%;
    }

    .formulario__grupo-terminos, 
    .formulario__mensaje, 
    .formulario__grupo-btn-enviar {
        grid-column: 1;
    }

    .formulario__btn {
        width: 100%;
    }
}