/*PORTADA DE INICIO*/

.container__cover {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--background-primario);
}

.cover {
    max-width: 1200px;
    margin: auto;
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0, 20px;
}

.text__cover {
    width: 100%;
    padding-right: 150px;
    
}

.text__cover h1 {
    font-size: 2.5rem;

}
.text__cover p {
    font-size: 1.3rem;
    margin-top: 40px;

}

.links__cover {
    display: flex;
    justify-content: space-between;
}


.btn__text {
    display: block;
    width: 150px;
    margin-top: 40px;
    padding: 10px 20px;
    text-align: center;
    font-weight: 700;
    color: #ffffff;
    background-color:rgb(4, 77, 126);
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid transparent;
    transition: all 300ms;
}

.btn__text:hover {
    background-color: transparent;
    border: 2px solid rgb(4, 77, 126);
    color: rgb(4, 77, 126);
}


.image__cover img {
    width: 200px;
    border-radius: 100px;
}

/* -------------------------------------------- RESPONSIVE  --------------------------------------*/


@media screen and (max-width:720px) {

    .container__cover {
        padding: 20px 0;
    }


    .cover  {
        flex-direction: column-reverse;
         
            

    }

    .text__cover {
        width: 100%;
        padding-right:  10px;
        
    }

    .text__cover h1 {
        font-size: 2rem;
        padding: 0px 0px 0px 10px;
    
    }

    .text__cover p {
        font-size: 1.4rem;
        padding: 0px 0px 0px 10px;
    
    }
    

    .links__cover {
        display: flex;
        width: 100%;
        padding:  20px 5px;
        
        
    }

    .links__cover a {
        font-size: 0.8rem;
        padding: 7px;
    }


    .btn__text {
        width: 40%;
        height: 50%;
        margin-top: 10px;
    }

    
        

}




