/*SKILLS*/

.container__card-primaria {
    padding-top: 70px;
    margin-top: 100px;
    background-color: var(--background-primario);
    
    
}

.card__primaria {
    max-width: 1200px;
    
    margin: auto;
    padding: 10px 20px;

}

.titulo__card-primaria h2 {
    margin-top: 20px;
    font-size: 2rem;
    text-align: center;  

}

.container__box-cardPrimaria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 80px;
    

}

.box__card-primaria {
    max-width: 550px;
    text-align: center;
    padding: 10px  ;
    background-color: #ffffff;
    border: 1px solid var(--background-secundario);
    border-radius: 20px;
    margin: 5px;
    transition: all 500ms;
}

.box__card-primaria:hover {
    border: 1px solid transparent;
    box-shadow: 5px 10px 15px  var(--background-secundario) ;


}

.box__card-primaria h2 {
    font-size: 1rem;
    margin-top: 20px;
    font-weight: 500;

}

.box__card-primaria img {
    padding: 30px;
    width: 150px;
}



/* -------------------------------------------- RESPONSIVE  --------------------------------------*/

@media screen and (max-width:720px) {

    .container__box-cardPrimaria {
        justify-content: space-evenly;
    }



    .box__card-primaria{
        max-width: 40%;
        max-height: 20%;
    }

    .box__card-primaria img {
        padding: 10px;
        width: 100%;
    }

    .box__card-primaria h2 {
        font-size: 1rem;
        margin-top: 5px;
        font-weight: 500;
    
    }


}